@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Primary Colors */
    --primary-b-600: hsla(198, 76%, 23%, 1);
    --primary-b-500: hsla(198, 76%, 31%, 1);
    --primary-b-400: hsla(198, 100%, 35%, 1);
    --primary-b-300: hsla(205, 100%, 40%, 1);
    --primary-b-200: hsla(198, 73%, 87%, 1);
    --primary-b-100: hsla(198, 56%, 92%, 1);
    --primary-b-50: hsl(193, 26%, 93%, 1);

    /* Semantic Colors */
    --semantic-g-500: hsla(155, 62%, 32%, 1);
    --semantic-g-300: hsla(127, 68%, 76%, 1);

    --semantic-r-500: hsla(7, 72%, 46%, 1);
    --semantic-r-100: hsla(0, 66%, 92%, 1);

    --semantic-b-300: hsla(205, 100%, 40%, 1);
    --semantic-b-100: hsla(198, 56%, 92%, 1);
    --semantic-y-500: hsla(40, 100%, 50%, 1);
    --semantic-y-100: hsla(46, 100%, 93%, 1);

    /* Neutral Colors */
    --neutral-n-900: hsla(240, 16%, 10%, 1);
    --neutral-n-800: hsla(199, 16%, 20%, 1);
    --neutral-n-700: hsla(201, 12%, 27%, 1);
    --neutral-n-500: hsla(197, 8%, 42%, 1);
    --neutral-n-400: hsla(197, 8%, 58%, 1);
    --neutral-n-300: hsla(208, 17%, 80%, 1);
    --neutral-n-200: hsla(200, 36%, 95%, 1);
    --neutral-n-100: hsla(204, 33%, 97%, 1);
    --neutral-n-50: hsl(180, 11%, 96%, 1);
    --neutral-n-0: hsla(0, 0%, 100%, 1);
  }
}

body {
  background-color: var(--neutral-n-50);
}
